name: build
on:
  push:
    branches: [master, preview]
  pull_request:
    branches: [master, preview]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18.20.2
      - run: yarn install --frozen-lockfile
      - run: yarn run validate-change
